html, body, div { margin:0; padding:0; }

body { padding-top: 150px; font-family: Helvetica, Arial, sans-serif; font-size: 1em}

#download_bar {
  background:url(background.png) repeat-x;
  height: 253px;
  position: relative;
}

#download_bar #logo {
  position: absolute;
  margin-left: -417px; /* 365 `div` 2 */
  left: 50%;    top: 0;
}

#download_bar .wrap {
  position: absolute;
  margin-left: -200px; /* 400 `div` 2 */
  left: 50%;    top: 0;
  width:400px; height:253px;
  background:url(download.png) no-repeat;
}

#download_bar .info {
  position: absolute;
  margin-left: 230px;
  width:250px;
  left: 50%;    top: 40px;
  font-weight: bold;
  font-size: 0.9em;
}

#download_bar .info .points {
  margin-left: 20px;
  font-weight: normal;
  margin-bottom: 10px;
  font-size: 0.9em;
}

#download_bar h1 { 
  position: absolute;
  font-weight: normal; 
  top: 20px;
  left: 0;
  width: 400px;
  text-align: center;
  font-size: 2em;
  color: #1c3a4b;
  whitespace: nowrap;
}

#download_bar h2 { 
  position: absolute;
  font-weight: normal; 
  top: 70px;
  left: 0;
  width: 400px;
  text-align: center;
  font-size: 1.15em;
  color: #1c3a4b;
}

img { border: 0; }

a { color: #1c3a4b; }
a:hover { color: #1030cd; }

#download_bar .platforms a {
  font-size: 0.9em;
  border: 0;
  position: absolute;
  display: block;
  top: 120px;
  width: 100px; height: 20px;
  padding-top: 80px;
  text-align: center;
  vertical-align: bottom;
}

#download_bar #osx     { left: 20px; top: 120px; }
#download_bar #windows { left: 145px; top: 120px; }
#download_bar #linux   { left: 267px; top: 120px; }

#contact {
  font-size: 0.9em;
  border: 0;
  padding-right: 20px;
  padding-top: 4px;
  text-align:right;
  vertical-align: bottom;
}
