
body {
  font-family: sans-serif;
  line-height: 1.4em;
  margin: 1em 4em;
  max-width: 55em;
}

ul, p, blockquote, dl {
  margin-left: 1em;
}

pre {
  margin-left: 1.5em;
  padding: 0.5em 1em;
  background: #eee;
  border: 1px solid #ccc;
}

blockquote {
  padding-left: 1.5em;
  border-left: 5px solid #3f6bcf;
}

li {
  padding: 0.25em;
}

.floatleft {
  float: left;
  margin-left: 0;
}

#important {
  color: red;
  font-size: larger;
}

.highlight {
  background: #feb;
  padding: 0.2em;
}

h1 {
  text-align: center
}

.subtitle {
  text-align: center
}


h1, h2, h3, h4 {
  font-family: Georgia, serif;
  font-weight: bold;
  color: #3f6bcf;
}

h1 { 
  font-size: 2.4em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.6em;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #44b;
}

a:hover {
  text-decoration: underline;
  color: #66e;
}

a:visited {
  color: #779;
}
