html, body, div { margin:0; padding:0; }

body { font-family: sans-serif; font-size: 1em;
       width: 700px;
       margin: 4em auto;
     }

h1.title {
    width: 580px;
    height: 103px;
    line-height: 103px;
    background: url(Platform.png) no-repeat center left;
    padding: 0 0 0 120px;
    font-size: 250%;
    vertical-align: middle;
}

img { border: 0; }

a { color: #1c3a4b; }
a:hover { color: #2090cd; }

#wrap {
    background: url(bind-raw.png) no-repeat;
    background-position: top right;
}
